<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Data Type - Array</title>
</head>

<body>
    <div id="app">
        <ul>
            <li>
                {{barang[1]}}
            </li>
        </ul>
        <br>
        <ul>
            <li v-for="produk in barang ">
                {{produk}}
            </li>
        </ul>
        <label for="">Tambah Barang</label>
        <input type="text" v-model="content">
        <button @click="tambahbarang">tambah</button>
        <br>

        <ul>
            <li v-for="(produk, index) in barang">
                <button @click="hapusbarang(index)">hapus</button>
                {{produk}}
            </li>
        </ul>


    </div>

    <script src="asset/vendor/vue.js"></script>
    <script src="asset/js/app12.js"></script>
</body>

</html>