<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>watch propertis</title>
</head>

<body>

    <div id="app">
        <p>
            {{mesage}}
        </p>
        <p>
            {{sum}}
        </p>
        <p>
            <button v-on:click="sumproses"> hasil dari result </button>
            {{result}}
        </p>

        <input type="text" v-model="kilometers">
        <input type="text" v-model="meters">
    </div>
    <script src="asset/vendor/vue.js"></script>
    <script src="asset/js/app4.js"></script>
</body>

</html>